body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container{
	width: 600px;
	justify-content: center;
	align-items: center;
	padding: 5rem;
}

.buttons{
	display: flex;
}

#resultScreen{ 
    text-align: right; 
	height: 50px;
}

#prevResultScreen{ 
    text-align: right; 
    height: 50px;
    height: 10%;
	font-size: 15px;
}

@media only screen and (max-device-width: 480px) {
	body {
		/* justify-content: center;  */
		align-items: center;
		width: 125vw;
		height: 100vh; 
	}
	
	#resultScreen{ 
		text-align: right; 
		height: 15%;
	}
	
	#prevResultScreen{ 
		text-align: right; 
		height: 10%;
		font-size: 15px;
	}

}